@import "tailwindcss";

@theme {
    --font-sans: "Mulish", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --breakpoint-mobile: 375px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1440px;
}

:root {
    --white: oklch(1 0 0);
    --main: oklch(0.1149 0 0);
    --dark: oklch(0.2178 0 0);
    --gray: oklch(0.8023 0.0011 17.18);
}

@utility container {
    margin-inline: auto;
    width: 100%;

    @variant mobile {
        max-width: 375px;
    }
    @variant tablet {
        max-width: 768px;
    }
    @variant desktop {
        max-width: 1440px;
    }
}
